---
import PostLinks from "../../components/PostLinks.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPostsSorted } from "../../lib/posts";

const allPosts = await getAllPostsSorted();
---

<BaseLayout title="Posts Index">
  <h1>Posts</h1>
  <PostLinks posts={allPosts} />
</BaseLayout>
