---
import PostLinks from "../../components/PostLinks.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPostsSorted } from "../../lib/posts";

const allPosts = await getAllPostsSorted();
const pageTitle = "Posts Index";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Posts</h1>
  <PostLinks posts={allPosts} />
</BaseLayout>
