:root {
  --base-bg-color: #f1f5f9;
  --bg-color-1: #b7bec5;
  --bg-color-2: #0f172a;
  --shadow-color: gray;
  --link-text-color: #00539f;
  --text-color-1: black;
  --text-color-2: #c7c7c7;
}

html {
  background-color: var(--base-bg-color);
  font-family: sans-serif;
}

.central {
  margin: 0 auto;
  font-size: 1.5rem;
  width: 100%;
  max-width: 60ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
