@import "palette.css";

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

@media screen and (min-width: 636px) {
  html {
    scroll-padding-top: calc(1.2rem + 40px);
  }
}

#main {
  margin: 0 auto;
  width: 100%;
  max-width: 60ch;
  padding: 1rem;
}

h1 {
  margin: 2rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 1rem 0 0.5rem;
}

h3,
h4,
h5,
h6 {
  margin: 1rem 0 0.5rem;
}

.heading {
  color: var(--color-heading);
}

p {
  margin: 0.5rem 0;
}

table {
  margin: 1rem auto;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.external-link::after {
  content: "";
  mask-size: cover;
  mask-image: url("/external-link.svg");
  width: 1em;
  height: 1em;
  margin-inline: 0.25em;
  background-color: currentcolor;
  display: inline-block;
}

.heading-link {
  opacity: 0;
  mask-size: cover;
  mask-image: url("/link.svg");
  width: 1em;
  height: 1em;
  margin-inline: 0.25em;
  background-color: var(--color-heading);
  display: inline-block;
}

.heading:hover > a > .heading-link {
  opacity: initial;
}

.accent,
.katex {
  color: var(--color-accent);
}

.accent-2 {
  color: var(--color-accent-2);
}

.accent-3 {
  color: var(--color-accent-3);
}

.accent-4 {
  color: var(--color-accent-4);
}

code {
  background-color: var(--color-bg-2);
  padding: 0.5em;
  border-radius: 0.5em;
}
