@import "palettes/aurelion.css";

html {
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  font-family: sans-serif;
}

#main {
  margin: 0 auto;
  width: 100%;
  max-width: 60ch;
  padding: 1rem;
}

h1 {
  margin: 2rem 0;
  font-size: 2.5rem;
}

h2 {
  margin: 1rem 0 0.5rem;
}

h3,
h4,
h5,
h6 {
  margin: 1rem 0 0.5rem;
}

p {
  margin: 0.5rem 0;
}

table {
  margin: 1rem auto;
}

a {
  text-decoration: none;
  color: var(--text-color-link);
}
