---
import TagLinks from "../../components/TagLinks.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPostsSorted } from "../../lib/posts";

const allPosts = await getAllPostsSorted();
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout title="Tags Index">
  <h1>Tags</h1>
  <TagLinks tags={tags} />
</BaseLayout>
