---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page not found">
  <h1>404 - Page not found</h1>
</BaseLayout>

<style>
  h1 {
    text-align: center;
    margin-block: 2.5em 1em;
  }
</style>
