---
import PostLinks from "../components/PostLinks.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllPostsSorted } from "../lib/posts";

const allPosts = await getAllPostsSorted();
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>My blog</h1>
  <PostLinks posts={allPosts}/>
</BaseLayout>
