---
import PostLink from "../components/PostLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllPostsSorted } from "../lib/posts";

const pageTitle = "Home Page";
const posts = await getAllPostsSorted();
const latestPosts = posts.slice(0, 5);
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Welcome to my blog</h1>
   It is still a work in progress

  <h2>Latest posts:</h2>
  <ul>
    {
      latestPosts.map((post) => (
        <li>
          <PostLink slug={post.slug} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
