---
import PostLinks from "../components/PostLinks.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllPostsSorted } from "../lib/posts";

const pageTitle = "Home Page";
const posts = await getAllPostsSorted();
const latestPosts = posts.slice(0, 5);
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Iridescent's blog</h1>
  Hi, I'm Iridescent, IT engineer and software developer. I am driven by curiosity
  and the desire to understand how things work. Welcome to my blog!

  <h2>Latest posts:</h2>
  <PostLinks posts={latestPosts} />
</BaseLayout>
