html[data-style="aurelion"] {
  --bg-color-1: #2B1B40;
  --text-color-1: #3754B8;
  --bg-color-2: #262C7A;
  --text-color-2: #43D2F1;
  --text-color-link: #C58173;
  --shadow-color: gray;
  --text-color-faded: gray;
}
