html[data-style="term"]:has(#dark-mode-toggle:checked) {
  --bg-color-1: #2c2c2c;
  --text-color-1: #d6d6d6;
}

html[data-style="term"] {
  --bg-color-1: #d6d6d6;
  --text-color-1: #2c2c2c;

  --text-color-link: #7eaac7;
  --text-color-faded: #636363;
  --text-color-heading: #ebc17a;
  --color-blue: #7eaac7;
  --color-magenta: #aa6292;
  --color-green: #909d63;
  --color-red: #bc5653;
  --color-link: #86d3ce;
}
