html[data-style="void"]:has(#dark-mode-toggle:checked) {
  --bg-color-1: #262334;
  --text-color-1: #d8f5f9;
  --bg-color-2: #2d4470;
  --text-color-2: #3c72c5;
  --text-color-link: #69bbea;
  --text-color-faded: gray;
}

html[data-style="void"] {
  --bg-color-1: white;
  --text-color-1: black;
  --bg-color-2: lightgray;
  --text-color-2: #3c72c5;
  --text-color-link: #69bbea;
  --text-color-faded: gray;
}

html[data-style="void2"] {
  --bg-color-1: #2f2c40;
  --text-color-1: #63bbf2;
  --bg-color-2: #3b74bf;
  --text-color-2: #d8f2f0;
  --text-color-link: #94f2f2;
  --text-color-faded: gray;
}
