html[data-style="wanderer"] {
  --bg-color-1: #C0D1E5;
  --text-color-1: #1B1A29;
  --bg-color-2: #3A537A;
  --text-color-2: #8AB9D0;
  --text-color-link: #638DD7;
  --shadow-color: gray;
  --text-color-faded: gray;
}
