---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
  bleed?: boolean;
}

const { src, alt, bleed } = Astro.props;

const className = bleed ? "full-bleed" : undefined;
---

<div class={className}>
  <Image {src} {alt} />
  {
    Astro.slots.has("default") && (
      <i>
        <slot />
      </i>
    )
  }
</div>
<style>
  div {
    margin: 2rem auto;
    text-align: center;
    color: var(--color-faded);
  }
</style>
