---
import { links } from "../lib/links";
---

<footer>
  <a href="/rss.xml">RSS</a> - <a href={links.github}>GitHub</a> (<a
    href={`${links.issues}`}>Report an issue</a
  >) -
  <a href={links.linkedin}>LinkedIn</a>
</footer>
<style>
  footer {
    text-align: center;
    margin-block-start: auto;
    padding-block: 2rem;
  }
</style>
