---
import { Icon } from "astro-icon";
---

<span>
  <Icon pack="feather" name="menu" class="hamburger" />
</span>
<style>
  span {
    display: inline-block;
    background: var(--bg-color-2);
    border-radius: 2em;
    box-shadow: 2px 3px 3px var(--shadow-color);
    height: 2em;
    width: 2em;
    text-align: center;
  }

  .hamburger {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0.5em auto;
  }

  @media screen and (min-width: 636px) {
    span {
      display: none;
    }
  }
</style>
