---
import { Icon } from "astro-icon/components";

const { class: className, ...rest } = Astro.props;
---

<span class={className} {...rest}>
  <Icon name="feather:menu" class="hamburger-icon" />
</span>
<style>
  span {
    display: block;
    position: absolute;
    top: 2vw;
    left: 2vw;
    background: var(--bg-color-2);
    border-radius: 4vw;
    height: 10vw;
    width: 10vw;
    text-align: center;
  }

  .hamburger-icon {
    cursor: pointer;
    height: 5vw;
    width: 5vw;
    margin: 2.5vw auto;
    color: var(--text-color-link);
  }
</style>
