---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
<div class="padding">
  <style>
    header {
      position: fixed;
    }

    .padding,
    header {
      height: 4rem;
    }
  </style>
</div>
