---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <Hamburger />
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  header {
    position: sticky;
    top: 1em;
  }

  nav {
    margin-left: 5em;
  }
</style>
