---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
const { class: className, ...rest } = Astro.props;
---

<div class={className} {...rest}>
  <input type="checkbox" id="mobile-menu-toggle" />
  <div id="mobile-menu">
    <label for="mobile-menu-toggle" id="button-label"></label>
    <Navigation class="navbar-mobile" />
  </div>
  <label for="mobile-menu-toggle">
    <Hamburger class="hamburger" />
  </label>
</div>

<style>
  input {
    display: none;
  }

  #button-label {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    inset: 0;
    z-index: -1;
  }

  #mobile-menu-toggle:not(:checked) ~ #mobile-menu {
    display: none;
  }

  .navbar-mobile {
    flex-direction: column;
    background-color: color-mix(in srgb, var(--color-bg) 80%, transparent);
  }

  #mobile-menu {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
  }
</style>
<style is:global>
  body:has(#mobile-menu-toggle:checked) {
    overflow: hidden;
  }
</style>
