---
import { Icon } from "astro-icon";
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
  <a href="https://github.com/HugoBelotDeloro">
    <Icon pack="feather" name="github" />
  </a>
  <a href="https://www.linkedin.com/in/hugo-belot-deloro/">
    <Icon pack="feather" name="linkedin" />
  </a>
  <a href="/rss.xml">
    <Icon pack="feather" name="rss" />
  </a>
</div>

<style>
  [astro-icon] {
    height: 1em;
    vertical-align: text-top;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-color-link);
    background-color: var(--bg-color-1);
  }

  .nav-links a:first-child() {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .nav-links a:last-child() {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #dddddd;
  }

  .expanded {
    display: flex;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: flex;
      flex-direction: row;
    }

    .nav-links a {
      padding: 15px 20px;
    }

    .nav-links a:first-child() {
      border-top-left-radius: 999em;
      border-bottom-left-radius: 999em;
      border-top-right-radius: unset;
    }

    .nav-links a:last-child() {
      border-top-right-radius: 999em;
      border-bottom-right-radius: 999em;
      border-bottom-left-radius: unset;
    }
  }
</style>
