---
import { Icon } from "astro-icon/components";

const { class: className, ...rest } = Astro.props;
---

<nav class={className} {...rest}>
  <a href="/">Iridescent dreams</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
  <a href="https://github.com/HugoBelotDeloro" aria-label="GitHub">
    <Icon name="feather:github" />
  </a>
  <a
    href="https://www.linkedin.com/in/hugo-belot-deloro/"
    aria-label="LinkedIn"
  >
    <Icon name="feather:linkedin" />
  </a>
  <a href="/rss.xml" aria-label="RSS">
    <Icon name="feather:rss" />
  </a>
  <label for="dark-mode-toggle" aria-label="Dark mode toggle">
    <Icon name="feather:sun" />
    <Icon name="feather:moon" />
  </label>
</nav>

<style>
  [data-icon] {
    height: 1.2rem;
    display: inline;
    vertical-align: text-top;
  }

  nav > a:has(> svg) {
    flex-shrink: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-bg);
  }

  nav > * {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  nav *:hover,
  nav *:focus {
    color: var(--color-bg);
    background-color: var(--color-link);
  }

  label {
    cursor: pointer;
    color: var(--color-link);
  }

  html:has(#dark-mode-toggle:checked) label [data-icon="feather:sun"],
  html:has(#dark-mode-toggle:not(:checked)) label [data-icon="feather:moon"] {
    display: none;
  }
</style>
