---
import { Icon } from "astro-icon/components";

const { class: className, ...rest } = Astro.props;
---

<nav class={className} {...rest}>
  <a href="/">Iridescent dreams</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
  <a href="https://github.com/HugoBelotDeloro">
    <Icon name="feather:github" />
  </a>
  <a href="https://www.linkedin.com/in/hugo-belot-deloro/">
    <Icon name="feather:linkedin" />
  </a>
  <a href="/rss.xml">
    <Icon name="feather:rss" />
  </a>
</nav>

<style>
  [data-icon] {
    height: 1.2rem;
    display: inline;
    vertical-align: text-top;
  }

  nav > a:has(> svg) {
    flex-shrink: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav > * {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  nav a:hover,
  nav a:focus {
    color: var(--bg-color-2);
    background-color: var(--text-color-link);
  }
</style>
