---
import { Icon } from "astro-icon/components";
---

<div class="nav-links">
  <span id="title">Iridescent dreams</span>
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
  <a href="https://github.com/HugoBelotDeloro">
    <Icon name="feather:github" />
  </a>
  <a href="https://www.linkedin.com/in/hugo-belot-deloro/">
    <Icon name="feather:linkedin" />
  </a>
  <a href="/rss.xml">
    <Icon name="feather:rss" />
  </a>
</div>

<style>
  [data-icon] {
    height: 1.2rem;
    display: inline;
    vertical-align: text-top;
  }

  #title {
    width: 100%;
  }

  .nav-links > a:has(> svg) {
    flex-shrink: 0;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links > * {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--bg-color-1);
  }

  .nav-links > *:first-child() {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .nav-links > *:last-child() {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #dddddd;
  }

  .expanded {
    display: flex;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: flex;
      flex-direction: row;
    }

    .nav-links > * {
      padding: 15px 20px;
    }

    .nav-links > *:first-child() {
      border-top-left-radius: 999em;
      border-bottom-left-radius: 999em;
      border-top-right-radius: unset;
    }

    .nav-links > *:last-child() {
      border-top-right-radius: 999em;
      border-bottom-right-radius: 999em;
      border-bottom-left-radius: unset;
    }
  }
</style>
