---
import type { CollectionEntry } from "astro:content";
import PostLink from "./PostLink.astro";

const { posts } = Astro.props;

interface Props {
  posts: CollectionEntry<"posts">[];
}
---

<ul>
  {
    posts.map((post) => (
      <li>
        <PostLink slug={post.slug} />
      </li>
    ))
  }
</ul>
<style>
  ul {
    list-style: none;
    margin-inline: auto;
    padding: 0;
    max-width: 90%;
  }
</style>
