---
import { type Headings } from "../lib/table-of-contents";

interface Props {
  toc: Headings[];
}

const { toc } = Astro.props;
const fullToc: Headings = {
  text: "Table of contents:",
  children: toc,
  slug: "",
};
---

<ul>
  {
    (function tocNode(heading: Headings) {
      return (
        <li>
          <a href={`#${heading.slug}`}>{heading.text}</a>
          {heading.children.length !== 0 && (
            <ul>{heading.children.map(tocNode)}</ul>
          )}
        </li>
      );
    })(fullToc)
  }
</ul>

<style>
  li {
    list-style: none;
  }

  ul {
    margin: 0;
    padding-left: 1ch;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color-2);
  }
</style>
