---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<p>
  <a href={`/tags/${tag}`}>{tag}</a>
</p>

<style>
  p {
    margin: 0.25em;
    border-radius: 0.5em;
    font-size: 1.15em;
    font-weight: bold;
  }

  a::before {
    content: '#';
  }
</style>
