---
import Header from "../components/Header.astro";
import PreRender from "../components/PreRender.astro";
import "../styles/reset.css";
import "../styles/global.css";

interface Props {
  pageTitle: string;
  disableMainElement?: boolean;
}

const { pageTitle, disableMainElement } = Astro.props;

const css_debug = false;
---

<html lang="en" data-style="void">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    {css_debug && <link rel="stylesheet" href="/styles/debug.css" />}
  </head>
  <body>
    <PreRender />
    <Header />
    {
      disableMainElement ? (
        <slot />
      ) : (
        <main id="main">
          <slot />
        </main>
      )
    }
  </body>
</html>
