---
import "@fontsource/ubuntu";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PreRender from "../components/PreRender.astro";
import "../styles/global.css";
import "../styles/reset.css";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;

const css_debug = false;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    {css_debug && <link rel="stylesheet" href="/styles/debug.css" />}
  </head>
  <body>
    <PreRender />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    margin-inline: auto;
    width: 100%;
    max-width: 60ch;
    padding: 1rem;
  }
</style>
